<%- include('../partials/head.ejs') %>
<%- include('../project/project-header.ejs') %>

<div class="row">
    <div class="col s12">
        <h1><%=projectId%></h1>
    </div>
</div>

<%- include('../partials/scripts.ejs') %>
<%- include('../project/project-header-script.ejs') %>

<%- include('../partials/foot.ejs') %>