<%- include('../partials/head.ejs') %> <%- include('../project/project-header.ejs') %>

<% if (project.tasks.length > 0) { %>
<div class="row">
  <div class="col s12">
    <div class="row" style="margin: 10px 0 0 0">
      <div class="col s12 m10 offset-m1 l8 offset-l2">
        <div class="row valign-wrapper hide-on-small-only">
          <div class="col m4 offset-m4 center-align">
            <h5><%=pageTitle%></h5>
          </div>
          <div class="col m4 center-align">
            <a class="btn green modal-trigger" href="tasks/add">Créer une tâche</a>
          </div>
        </div>
        <div class="row valign-wrapper hide-on-med-and-up">
          <div class="col m4 offset-m4 center-align">
            <h5><%=pageTitle%></h5>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col s12 m10 offset-m1 l8 offset-l2">
      <div class="row card-content">
        <ul class="collapsible">
          <li class="collapsible-header">
            <div class="col s8 center"><strong>Description</strong></div>
            <div class="col s1 center"><strong>Coût</strong></div>
            <div class="col s2 center"><strong>État</strong></div>
          </li>
          <% project.tasks.forEach(task => { %>
          <li>
            <div class="collapsible-header line" tabindex="0">
              <div class="col s8 center">
                <p class="description-header"><%=task.description %></p>
              </div>
              <div class="col s1 center"><%=task.cost%> j/h</div>
              <div class="col s2 center"><%=task.state%>TODO</div>
            </div>
            <div class="collapsible-body">
              <div class="row center-align hide-on-med-and-up">
                <% if (!project.deleteEdit) { %>
                <div class="col s6">
                  <a href="tasks/<%=task._id%>/edit" class="btn-floating white">
                    <i class="material-icons black-text">edit</i>
                  </a>
                </div>
                <div class="col s6">
                  <a href="#deleteTask" class="btn-floating red modal-trigger deleteButton" _id="<%= task._id %>">
                    <i class="material-icons">delete</i>
                  </a>
                </div>
                <% } %>
              </div>
              <div class="row">
                <div class="col s12 m9 l10">
                  <div class="row">
                    <div class="row">
                      <div class="col s12 m8">
                        <b>Description : </b><%= task.description %>
                      </div>
                      <div class="col s12 m8">
                        <b><i>Definition of Done</i> : </b><%= task.definitionOfDone %>
                      </div>
                      <div class="col s12 m8">
                        <b>Issues : </b>US#01, US#17...
                      </div>
                      <div class="card-panel col s12 m8">
                        <b>Test : </b><%= task.testLink%>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col s12 m3 l2 center-align hide-on-small-only">
                  <% if (!project.deleteEdit) { %>
                  <div class="row">
                    <a href="tasks/<%=task._id%>/edit" class="btn white black-text" style="width: 100%">Modifier</a>
                  </div>
                  <div class="row">
                    <a href="#deleteTask" class="btn red modal-trigger deleteButton" _id="<%= task._id %>"
                      style="width: 100%">Supprimer</a>
                  </div>
                  <% } %>
                </div>
              </div>
            </div>
          </li>
          <% }) %>
        </ul>
      </div>
    </div>
  </div>
</div>
<% } else { %>
<div class="row valign-wrapper" style="margin-top: 10%">
  <div class="col s12 center-align">
    <div class="row">
      <h5>Il n'y a actuellement aucune tâche pour ce projet...</h5>
    </div>
    <div class="row">
      <h6>Essayez de créer une première tâche !</h6>
    </div>
    <div class="row">
      <a href="tasks/add" class="btn-flat green-text waves-effect">Créer une première tâche</a>
    </div>
  </div>
</div>
<% } %>

<%- include('../partials/scripts.ejs') %>
<%- include('../partials/toast.ejs') %>
<%- include('../partials/menu-connected-script.ejs') %>

<script>
  $(document).ready(function () {
    $('.collapsible').collapsible();
  });
</script>

<style>
  .description-header {
    white-space: nowrap;
    width: 300px;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: auto;
  }
</style>