<% const states = ["TODO", "DOING", "DONE", "TOTEST", "TESTING", "TESTED"]; %>
<% let mine = false;%>
<% if (project.tasks.length > 0) { %>
<div class="row">
  <div class="col s12">
    <div class="row" style="margin: 10px 0 0 0">
      <div class="col s12 m10 offset-m1 l8 offset-l2">
        <div class="row valign-wrapper hide-on-small-only">
          <div class="col m4 offset-m4 center-align">
            <h5><%= mine ? "Mes Tâches" : "Tâches"%></h5>
          </div>
          <% if ((isPo || isPm) && project.active) { %>
          <div class="col m4 center-align">
            <a class="btn green modal-trigger" href="/projects/<%= project.id %>/sprints/<%= project.sprint._id %>/tasks/add">Ajouter une tâche</a>
          </div>
          <% } %>
        </div>
        <div class="row valign-wrapper hide-on-med-and-up">
          <div class="col s12 center-align">
            <h5><%=pageTitle%></h5>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col s12 m10 offset-m1 l8 offset-l2">
      <div class="row">
        <a id="allMineButton" class="btn-small light-blue darken-1 right all" style="display: none">
          <i class="material-icons left">select_all</i>Toutes
        </a>
        <a id="allMineButton" class="btn-small light-blue darken-1 right mine">
          <i class="material-icons left">person_outline</i>Mes Tâches
        </a>
      </div>
      <div class="row card-content">
        <ul class="collapsible">
          <li class="collapsible-header">
            <div class="col s8 center"><strong>Description</strong></div>
            <div class="col s1 center"><strong>Coût</strong></div>
            <div class="col s3 center"><strong>État</strong></div>
          </li>
          <% project.tasks.forEach(task => { %>
          <li class="task <%= activeTask ? (activeTask.toString() === task._id.toString() ? "active" : "") : "" %>"
                  id="<%=task._id%>" mine="<%=task.assigned%>">
            <div class="collapsible-header line" tabindex="0">
              <div class="col s8 center truncate"><%=task.description %></div>
              <div class="col s1 center <%=task.cost >= 2 ? 'red-text tooltipped' : '' %>" data-position="bottom"
                   data-tooltip="
                   Conseil : Une tâche ne devrait pas avoir un coût si élevé !<br>
                   Il faut peut-être repenser cette tâche.">
                <%=task.cost%> j/h
              </div>
              <div class="col s3 center state"><%=task.state%></div>
            </div>
            <div class="collapsible-body">
              <div class="row center-align hide-on-med-and-up">
                <% if ((isPo || isPm) && project.active) { %>
                <div class="col s6">
                  <a href="/projects/<%=project.id%>/sprints/<%=project.sprint._id%>/tasks/<%=task._id%>/edit" class="btn-floating white">
                    <i class="material-icons black-text">edit</i>
                  </a>
                </div>
                <div class="col s6">
                  <a href="#deleteTask" class="btn-floating red modal-trigger deleteButton" _id="<%= task._id %>">
                    <i class="material-icons">delete</i>
                  </a>
                </div>
                <% } %>
              </div>
              <div class="row" style="margin-bottom: 0">
                <div class="col s12 m9 l10">
                  <div class="row">
                      <div class="row">
                        <div class="col s12 offset-m1 m10">
                          <b>Description :</b><br>
                          <%= task.description %>
                        </div>
                      </div>

                      <div class="row">
                        <div class="col s12 offset-m1 m10">
                          <b>Definition of Done :</b><br>
                          <%= task.definitionOfDone %>
                        </div>
                      </div>

                      <div class="row" style="margin-bottom: 0">
                        <div class="col s12 offset-m1 m10">
                          <% if (task.issues.length > 0) { %>
                            <b>Issues liées : </b>
                            <% task.issues.forEach(issue => { %>
                              <a href="/projects/<%=project.id%>/issues/<%=issue._id%>#<%=issue._id%>"><%=issue.storyId%></a>
                            <%})%>
                          <% } else { %>
                            <b>Non liée</b>
                          <% } %>
                        </div>
                        <div class="col s12 offset-m1 m10">
                          <% if (task.contributors.length > 0) { %>
                            <b>Assignée à : </b>
                            <% task.contributors.forEach(contr => { %>
                              <span><%=contr._id.username%></span>
                            <%})%>
                          <% } else { %>
                            <b>Non assignée</b>
                          <% } %>
                        </div>
                        <div class="col s12 offset-m1 m10">
                          <% if (task.testLink) { %>
                            <b>Test : </b><%= task.testLink%>
                          <% } else { %>
                            <b>Non testée</b>
                          <% } %>
                        </div>
                      </div>
                    </div>
                </div>
                <div class="col m3 l2 center-align hide-on-small-only">
                    <% if ((isPo || isPm) && project.active) { %>
                  <div class="row">
                    <a href="/projects/<%=project.id%>/sprints/<%=project.sprint._id%>/tasks/<%=task._id%>/edit" class="btn white black-text" style="width: 100%">Modifier</a>
                  </div>
                  <div class="row">
                    <a href="#deleteTask" class="btn red modal-trigger deleteButton" _id="<%= task._id %>"
                      style="width: 100%">Supprimer</a>
                  </div>
                  <% } %>
                  <% if ((isPo || isPm || task.assigned) && project.sprint.active && project.active) { %>
                    <div class="row">
                        <select _id="<%=task._id%>" class="state-select">
                            <% for(let state of states) { %>
                              <%let selected = (state === task.state) ? "selected" : ""%>
                              <option  value="<%=state%>"<%=selected%>><%=state%></option>
                            <% } %>
                        </select>
                    </div>
                  <% } %>
                </div>
              </div>
            </div>
          </li>
          <% }) %>
        </ul>
      </div>
    </div>
  </div>
</div>
<% } else { %>
  <% if (mine) { %>
    <div class="row valign-wrapper" style="margin-top: 10%">
      <div class="col s12 center-align">
        <div class="row">
          <h5>Vous n'avez actuellement aucune tâche qui vous est assignée pour ce sprint...</h5>
          <a href="/projects/<%= project.id %>/sprints/<%= project.sprint._id %>/tasks">Retour aux tâches</a>
        </div>
      </div>
    </div>
  <% } else { %>
    <div class="row valign-wrapper" style="margin-top: 10%">
      <div class="col s12 center-align">
        <div class="row">
          <h5>Il n'y a actuellement aucune tâche dans ce sprint...</h5>
        </div>
        <% if ((isPo || isPm) && project.active) { %>
          <div class="row">
            <h6>Essayez de créer une première tâche !</h6>
          </div>
          <div class="row">
            <a href="/projects/<%= project.id %>/sprints/<%= project.sprint._id %>/tasks/add" class="btn-flat green-text waves-effect">Créer une première tâche</a>
          </div>
        <% } %>
      </div>
    </div>
  <% } %>
<% } %>

<%- include('delete-task.ejs') %>

<script>
  $(document).ready(function () {
    let mine = false;
    $('.collapsible').collapsible();
    $('.tooltipped').tooltip();

    $('a#allMineButton').on("click", function(e) {
      if (mine) {
        $('.mine').attr("style", "");
        $('.all').attr("style", "display: none");
        $('li.task[mine=false]').attr("style", "");

        mine = false;
      } else {
        $('.mine').attr("style", "display: none");
        $('.all').attr("style", "");
        $('li.task[mine=false]').attr("style", "display: none");

        mine = true;
      }
    });

    $('.state-select').formSelect().change(function (){
      const taskId = this.getAttribute('_id')
      const state = this.options[this.selectedIndex].value;
      fetch('/projects/<%=project.id%>/sprints/<%= project.sprint._id %>/tasks/' + taskId +'/state', {
        credentials: 'same-origin',
        method: 'PUT',
        headers: {
          'Content-Type': 'application/json',
          'CSRF-Token': '<%=csrfToken%>'
        },
        body: JSON.stringify({
          state: state
        })
      })
      .then(result => {
        if(result.status === 200) {
          $(`#${taskId} .state`).text(state);
          M.toast({html: 'État mis à jour !', classes: 'rounded'});
        }
      });
    });
  });
</script>
