<%- include('../partials/head.ejs') %>

<%- include('../partials/nav-not-connected.ejs') %>

<form class="form row" action="/forgot-password" method="post">
    <div class="col s12 m8 offset-m2 l6 offset-l3">
        <div class="row card-panel white">
            <div class="form col s12">
                <div class="row center-align">
                    <h5>Mot de Passe Oublié</h5>
                </div>
                <% if (info) { %>
                <div class="row center-align">
                    <p class="green-text"><%= info %></p>
                </div>
                <% } %>
                <div class="row center-align">
                    <div class="input-field col s12">
                        <i class="material-icons prefix">mail</i>
                        <input id="email" name="email" type="email" required>
                        <label for="email">Email</label>
                        <span class="helper-text">Saisissez votre adresse mail pour créer votre nouveau mot de passe.</span>
                    </div>
                </div>
                <div class="row right-align">
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                    <a class="btn-flat red-text" href="/login">Retour</a>
                    <button class="btn-flat green-text" type="submit">Valider</button>
                </div>
            </div>
        </div>
    </div>
</form>

<%- include('../partials/scripts.ejs') %>
<%- include('../partials/toast.ejs') %>
<%- include('../partials/foot.ejs') %>