<%- include('../partials/head.ejs') %>

<%- include('../partials/nav-not-connected.ejs') %>

<form class="form row" action="/register" method="post">
    <div class="col s12 m8 offset-m2 l6 offset-l3">
        <div class="row card-panel white center-align">
            <div class="col s12">
                <div class="row">
                    <h5>Créer un Compte</h5>
                </div>
                <div class="row">
                    <div class="input-field col s12 m6">
                        <% let index = errors.findIndex(error => error.username) %>
                        <i class="material-icons prefix">account_circle</i>
                        <input id="username" name="username" type="text"
                               class="validate <%= (index >= 0) ? 'invalid' : (errors.length > 0) ? 'valid' : '' %>"
                               value="<%= values ? values.username : '' %>">
                        <label for="username">Nom d'Utilisateur</label>
                        <span class="helper-text"
                              data-error="<%= (index >= 0) ? errors[index].username : '' %>"></span>
                    </div>
                    <div class="input-field col s12 m6">
                        <% index = errors.findIndex(error => error.email) %>
                        <i class="material-icons prefix">mail</i>
                        <input id="email" name="email" type="email"
                               class="validate <%= (index >= 0) ? 'invalid' : (errors.length > 0) ? 'valid' : '' %>"
                               value="<%= values ? values.email : '' %>">
                        <label for="email">Email</label>
                        <span class="helper-text"
                              data-error="<%= (index >= 0) ? errors[index].email : '' %>"></span>
                    </div>
                    <div class="input-field col s12 offset-m3 m6">
                        <% index = errors.findIndex(error => error.password) %>
                        <i class="material-icons prefix">lock</i>
                        <input id="password" name="password" type="password"
                               class="validate <%= (index >= 0) ? 'invalid' : (errors.length > 0) ? 'valid' : '' %>"
                               value="<%= values ? values.password : '' %>">
                        <label for="password">Password</label>
                        <span class="helper-text"
                              data-error="<%= (index >= 0) ? errors[index].password : '' %>"></span>
                    </div>
                </div>
                <div class="row right-align">
                    <a class="btn red darken-3" href="/">Annuler</a>
                    <button class="btn green darken-1" type="submit">Valider</button>
                </div>
            </div>
        </div>
    </div>
</form>

<%- include('../partials/scripts.ejs') %>
<%- include('../partials/foot.ejs') %>