<%- include('../partials/head.ejs') %>

<%- include('../partials/nav-not-connected.ejs') %>

<form class="form row" action="/reset-password/<%= token %>" method="post">
    <div class="col s12 m8 offset-m2 l6 offset-l3">
        <div class="row card-panel white">
            <div class="form col s12">
                <div class="row center-align">
                    <h5>Réinitialisation du Mot de Passe</h5>
                </div>
                <div class="input-field col s12 m6">
                    <% index = errors.findIndex(error => error.password) %>
                    <i class="material-icons prefix">lock</i>
                    <input id="password" name="password" type="password" required
                           class="validate <%= (index >= 0) ? 'invalid' : (errors.length > 0) ? 'valid' : '' %>"
                           value="<%= values ? values.password : '' %>">
                    <label for="password">Nouveau Mot de Passe</label>
                    <span class="helper-text"
                          data-error="<%= (index >= 0) ? errors[index].password : '' %>"></span>
                </div>
                <div class="input-field col s12 m6">
                    <% index = errors.findIndex(error => error.confirmPassword) %>
                    <i class="material-icons prefix">lock</i>
                    <input id="confirmPassword" name="confirmPassword" type="password" required
                           class="validate <%= (index >= 0) ? 'invalid' : (errors.length > 0) ? 'valid' : '' %>"
                           value="<%= values ? values.confirmPassword : '' %>">
                    <label for="confirmPassword">Confirmez Nouveau Mot de Passe</label>
                    <span class="helper-text"
                          data-error="<%= (index >= 0) ? errors[index].confirmPassword : '' %>"></span>
                </div>
                <div class="row right-align">
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                    <a class="btn-flat red-text" href="/login">Annuler</a>
                    <button class="btn-flat green-text" type="submit">Modifier</button>
                </div>
            </div>
        </div>
    </div>
</form>

<%- include('../partials/scripts.ejs') %>
<%- include('../partials/foot.ejs') %>